[Unit]
Description=ElectrumxLtfn
After=network.target

[Service]
EnvironmentFile=/etc/electrumxltfn.conf
ExecStart=/usr/local/bin/electrumxltfn_server
User=electrumxltfn
LimitNOFILE=8192
TimeoutStopSec=30min

[Install]
WantedBy=multi-user.target
